.logo-container {
  margin: 0;
  padding: 0;
  width: 150.53px;
  height: 90px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s linear;
}
.logo-container:hover {
  transform: rotateZ(-3.5deg) scale(1.1);
}
.logo-container > * {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-size: 80px;
  color: var(--color-black);
}
